---
layout:     default
main_class: blog-index
---

{{ content }}


{% for post in site.categories['blog'] %}
{% capture id %}{{ post.id | remove:'/' | downcase }}{% endcapture %}
<article id="{{id}}" class="section p-{{id}}">
  
  {% capture img_path %}/assets{{ page.url | remove:'.html' }}/{% endcapture %}
  {% if page.icon %}
    <img alt="{{post.icon_alt}}" title="{{post.icon_title}}" src="{{img_path}}{{post.icon}}">
  {% elsif page.fa-icon %}
    <img alt="{{post.icon_alt}}" title="{{post.icon_title}}" src="https://use.fontawesome.com/releases/v5.15.4/svgs/{{post.fa-icon}}.svg" class="trailwoodgreen">
  {% else %}
    <img alt="trailwood logo image" title="Trailwood Logo" src="/assets/images/trailwood-stem-logo.png">
  {% endif %}
    <h1>{{post.title}}</h1>
    <span>by <address class="author">{{post.AuthorName}} ({{post.AuthorRole}})</address> on <date>{{post.date | date: "%A, %B %-d, %Y" }}</date></span>
  {{ post.excerpt }}
  <a href="{{post.url}}">Read full article…</a>
</article>

{% endfor %}
