<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
	<meta name="keywords" content="{{ site.keywords }}">
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/style.css">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
	{% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
</head>
<body>
  <header>
{% capture intext %} {% include header.html %} {% endcapture %}
{{ intext }}
  </header>
  <nav class="{{page.tabID}}">
{% capture intext %} {% include navigation.html %} {% endcapture %}
{{ intext }}
  </nav>
  <main class="{{layout.main_class | default: 'default'}}">
{{ content }}
  </main>
  <footer>
{% capture intext %} {% include footer.html %} {% endcapture %}
{{ intext }}
  </footer>

</body>
</html>
